@import '../../styles/mediaqueries';

.fridge-index {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  @include for-md-up {
    display: block;

    &__sidebar {
      height: calc(100vh - 74px);
      position: fixed;
      top: 74px;
      left: 0;
      width: 300px;
      background: #eaeaea;
    }

    &__content {
      position: relative;
      left: 275px;
      max-width: calc(100vw - 311px);
    }
  };

  h1 {
    font-weight: bold;
    margin: 10px 15px;

    @include for-sm-down {
      display: none;
    };
  };
}
