// Dont touch the styles in this file unless absolutely necessary

@import './styles/variables';
@import './styles/mediaqueries';
@import './styles/typography';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: apple-system, BlinkMacSystemFont, $inter, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

@include for-sm-down {
  body {
    overflow-x: hidden;
  }
}
