@font-face {
  font-family: 'checkmark';
  src: url('../../assets/checkmark.ttf?50247651') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.checkbox {
  &__input {
    visibility: hidden;

    &:checked ~ label {
      &::before {
        border: 10px solid teal;
      }

      &::after {
        color: white;
      }
    }
  }

  &__label {
    position: relative;
    text-transform: capitalize;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 2px;
      left: -28px;
      border: 2px solid gray;
      border-radius: 4px;
      background-color: white;
      transition: all 0.25s;
    }

    &::after {
      content: "\e800";
      position: absolute;
      top: 0px;
      left: -25px;
      font-size: 16px;
      font-family: "checkmark";
      color: transparent;
      transition: color 0.25s ease-in;
    }
  }
}
