@import '../../styles/mediaqueries.scss';

.fridge-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @include for-md-up {
    position: relative;
    left: 275px;
    max-width: calc(100vw - 300px);
  }
}
