.image {
  max-height: 350px;
  max-width: 100%;
  width: auto;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.properties {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 15px 10px;
}

.click-from-item {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

select {
  padding: 4px 10px;
  border: 1px solid #c7c7c7;;
  border-radius: 5px;
  cursor: pointer;
}

.expired {
  color: red;
}

.expire-soon {
  color: rgb(216, 149, 25);
}

.image-container {
  width: 100%;
  height: 333px;
  max-height: 333px;
  max-width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -12px;
}

.unauthorized {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
  border-radius: .25rem;
  position: relative;
  padding: 1rem 1rem;
  text-align: center;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.spinning {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

// fridge item modal
@media screen and (min-width: 993px) {
  .body {
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
  }

  .properties {
    width: 50%;
  }

  .image-container {
    max-width: 320px;
    max-height: 315px;
  }

}

.modal-content {
  border: 0;
  border-radius: 16px;
}

.item-modal-header {
  border-bottom: 0;
  padding: 1.25rem;

  & ~ div {
    padding: 0;
  }
}

// original fridge item page
// @media screen and (min-width: 743px) {
//   .body {
//     display: flex;
//     align-items: center;
//     margin: 10px;
//     margin-top: 15px;
//     margin-left: 30px;
//   }

//   .properties {
//     width: 50%;
//   }

//   .image-container {
//     max-width: 370px;
//     max-height: 315px;
//   }

//   .fridge-item-box {
//     border: 1.5px solid;
//     border-color: rgb(138, 138, 138);
//     border-radius: 20px;
//     margin-top: 25px;
//     background-color: rgba(225, 236, 248, 0.897);
//     width: 90%;
//     margin-left: auto;
//     margin-right: auto;
//   }

// }
