.Recipes-index {
  min-height: 100vh;
}

.Recipes-index h3 {
  display: flex;
  justify-content: center;
  opacity: 0.75;
  margin: 20px;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.search-bar{
  padding: 14px 32px 14px 16px;
  border: 2px solid #1aacb1;
  outline: none;
  width: 300px;
  box-shadow: 1px 2px gray
}

.search-button{
  padding: 16px;
  height: 56px;
  width: 60px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #1aacb1;
  color: #fff;
  box-shadow: 1px 2px gray
}

.recipes-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.Recipe img {
  border: 2px groove rgb(0, 0, 0);

}

.Recipe a {
  background-color: #1aacb1;
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 1em 1.5em;
  border-radius: 4px;
}

.Recipe a:active {
  transform: scale(0.98);
}

.Recipe h4 {
  display: flex;
  justify-content: center;
  text-align: center;
}

ol {
  list-style: none;
  counter-reset: item;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
}

li:before {
  margin-right: 10px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}
