
/* CSS Variables */
:root {
  --card-text-color: #070705;
  --card-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.Recipes-index {
  display: flex;
  flex-direction: column;
}

.top-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
}

.top-page p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -1px;
}

.top-page span {
  color: #bb5274;
}

.spinner {
  display: flex;
  justify-content: center;
}

.filters {
  background: #edf6f9;
  padding: 0.25rem;
  margin: 0.25rem;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  box-shadow: var(--card-shadow);
  font-size: 0.8rem;
}

.filters label {
  margin: 5px;
}

.recipes-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Recipe card */
.recipe-card {
  background-color: white;
  box-shadow: var(--card-shadow);
  border-radius: 16px;
  color: var(--card-text-color);
  line-height: 1.5;
  width: 22rem;
  padding: 0;
  margin: 10px;
}

.recipe-card figure {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 14rem;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  margin-bottom: 1.25rem;
}

.recipe-card figure img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-card h1 {
  margin: 0 1.5rem 1rem 1.5rem;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}

.card-meta {
  margin: 0 1.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.get-recipe {
  font-weight: 600;
  letter-spacing: -0.25px;
  color: white;
  margin: 0;
  background-color: #bb5274;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}

.get-recipe:active {
  transform: scale(0.98);
}

.get-recipe a {
  text-decoration: none;
  color: white;
}

.dish-stats {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.dish-stats li {
  display: flex;
  align-items: center;
  padding: 0;
  opacity: 75%;
}
