body {
  background-color: #e2cae963;
}

.image {
  max-height: 300px;
  width: auto;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.properties {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 15px 10px;
  background-color: rgb(218, 230, 240);
  border: 0.1em solid;
  border-color: rgb(138, 138, 138);
  font-family: 'Raleway', sans-serif;
  box-shadow: 5px 5px gray;
}

.click-from-item {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

select {
  border-radius: 5px;
  background-color: rgb(218, 230, 240);
  border-style: groove;
}

.expired {
  color: red;
}

.expire-soon {
  color: rgb(216, 149, 25);
}

.image-container {
  width: 100%;
  height: 333px;
  max-height: 333px;
  max-width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -18px;
}

.unauthorized {
  color: rgb(243, 30, 30);
  text-align: center;
  margin-top: 30px;
}

.spinning {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 743px) {
  .body {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 25px;
    margin-left: 45px;
  }

  .properties {
    width: 50%;
  }

  .image-container {
    max-width: 315px;
  }

}
