@import '../../styles/mediaqueries.scss';

.fridge-filters {
  padding: 10px;
  overflow-y: scroll;
  &__header--mobile {
    display: none;
  }

  h2, h3 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  & > div:first-of-type {
    display: flex;

    .search-bar {
      flex-basis: 100%;
      margin-right: 10px;
    }

  }

  @include for-sm-down {
    .fridge-filters__header--mobile {
      display: block;
      margin: 0;
      margin-bottom: 10px;
    }

    h2 {
      display: none;
    }

    &__dropdown {
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100vw;
      padding: 20px;
      background-color: #eaeaea;
      overflow: hidden;
      transition: all 0.25s;
      z-index: 1;

      &--open {
        visibility: visible;
        opacity: 1;
      }

      &--closed {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__button {
    border: 1px solid white;
    background-color: white;
    color: #888888;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    &:hover, &:focus {
      border: 1px solid teal;
      background-color: teal;
    }

    &-icon {
      font-size: 24px;
    }

    span {
      user-select: none;
    }

    @include for-md-up {
      display: none;
    };
  }

  &__apply-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid teal;
    background-color: teal;

    &:hover, &:focus {
      border: 1px solid darken(teal, 10%);
      background-color: darken(teal, 10%);
    }

    @include for-md-up {
      display: none;
    }
  }
}
