@import '../../styles/mediaqueries.scss';

.navbar {
  padding: 0.75rem;

  .navbar-collapse {
    justify-content: space-between;
  }
}

.btn-custom-button {
  background-color: transparent;
  color: white;
}

